<div class="container-fluid">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h1>Bienvenue sur ton espace</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Par quoi commencer ?</h3>
            <a href="#" class="btn btnOrange"> Créer un nouveau projet </a> 
            <a href="#" class="btn btnOrange"> Rejoindre un projet </a>
        </div>

        <ul>
</ul>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <h3>Lorem ipsum</h3>
            Dernières cards tâches associées au compte connecté
        </div>
    </div>
    <div class="row lightGreyBg">
        <div class="col-md-8 mx-auto">
            <div style="height: 20px"></div>
            <p> Activités à venir avec les tâches les plus importantes</p>
            <p>Notes persos</p>
            <p>Liste associée à l'event</p>
            {{!-- exemple pour lier les infos --}}
            {{!-- {{#each events}}
            <li class="wiper-item">
                <img class="wiper__image" src="{{dataValues.game.dataValues.imageUrl}}" alt="background-image" />
                <a href="/activities/read/{{dataValues.id}}" class="swiper__image-button">{{dataValues.name}} le
                    {{moment dataValues.event_date format="DD/MM/YYYY"}} <br> à {{dataValues.event_time}}</a>
            </li>
            {{/each}} --}}
        </div>
    </div>

    <div class="row mt-5">
        <div class="col-md-8 mx-auto">
            <h3>Lorem ipsum</h3>
            <a href="#" class="btn btnOrange float-end mt-5 me-5"> Messagerie <i class="bi bi-chat-dots-fill"></i> </a>
        </div>

    </div>

</div>